$def with (database, server, rows, dbsize, dbsize_str)

<style>
	TR.collection TD.notfirst {
		border-top: none ! important;
		padding-top: 0 ! important;
	}
	TR.collection TD {
		padding-bottom: 0 ! important;
	}
	TD.name {
		width: 1px;
		padding-left: 10px ! important;
		padding-right: 1em ! important;
	}
	TR.server TD.storage_size,
	TR.database TD.storage_size,
	TR.server TD.data_size,
	TR.database TD.data_size {
		text-align: center;
	}
	TD.storage_size {
		padding-left: 0;
	}
	TD.storage_size, TD.data_size {
		width: 1px;
		font: normal 10pt/12pt "Lucida Mono", Monaco, monospace;
		text-align: right;
		white-space: nowrap;
		font-weight: normal ! important;
	}
	TD.data_size {
		padding-left: 3em ! important;
		padding-right: 3em ! important;
		text-align: center;
	}
	TD.empty {
		width: 100%;
	}
	.index {
		color: #CCC;
	}
</style>
<table>
	<tr class="big server">
		<th><a href="$homeUrl/" title="Click for All Servers">Server</a></th>
		<td class="name">$server</td>
		$if rows:
			<td class="storage_size">storageSize</td>
			<td class="data_size">dataSize</td>
		<td class="empty"></td>
	</tr>
	<tr class="big database">
		<th><a href="$homeUrl/$server/" title="Click for All Databases">Database</a></th>
		<td class="name">$database</td>
		$if rows:
			<td class="storage_size">$dbsize_str MB&nbsp;&nbsp;%&nbsp;&nbsp;</td>
			<td class="data_size">%</td>
		<td class="empty"></td>
	</tr>
	$if not rows:
		<tr class="big collection listing">
			<th><span>Collections</span></th>
			<td style="color: #999; display:block; width:200px">no collections found</td>
			<td class="empty"></td>
		</tr>
	$else:
		$for i, row in enumerate(rows):
			<tr class="big collection listing\
			$if row.is_index: index\
			">
				$if i == 0:
					<th rowspan="${len(rows)}">
						<span>Collections
							<span class="note">and indices<br/><br/>All percentages use<br/>total storageSize<br/>as the base</span>
						</span>
					</th>

				<td class="name\
				$if i > 0: notfirst\
				">
					$if not row.is_index: <a href="$homeUrl/$server/$database/$row.name/">\
					$row.name\
					$if not row.is_index: </a>\
				</td>

				<td class="storage_size\
				$if i > 0: notfirst\
				">$:row.format_storage_size(dbsize)</td>

				<td class="data_size\
				$if i > 0: notfirst\
				">$:row.format_data_size(dbsize)</td>

				<td class="empty\
				$if i > 0: notfirst\
				"></td>
			</tr>
</table>