$def with (server, database, collection)

<table>
	<tr class="big server">
		<th><a href="$homeUrl" title="Click for All Servers">Server</a></th>
		<td>$server</td>
	</tr>
	<tr class="big database">
		<th><a href="$homeUrl/$server" title="Click for All Databases">Database</a></th>
		<td>$database</td>
	</tr>
	<tr class="big collection">
		<th><a href="$homeUrl/$server/$database" title="Click for All Collections">Collection</a></th>
		<td>$collection</td>
	</tr>
	<tr class="big document">
		<th><span>Documents</span></th>
		<td>No documents found.</td>
	</tr>
</table>